{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type of project</th>
                <th>Country</th>
                <th>Created At</th>
                <th>Ended At</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.type }}</td>
                <td>{{ project.country }}</td>
                <td>{{ project.createdAt ? project.createdAt|date('d/m/Y') : '' }}</td>
                <td>{{ project.endedAt ? project.endedAt|date('d/m/Y') : '' }}</td>
                <td>{{ project.amount }} €</td>
                <td>
                    <a type="button" class="btn btn-outline-primary" href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a type="button" class="btn btn-outline-primary" href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a type="button" class="btn btn-outline-primary" href="{{ path('project_new') }}">Create new</a>
{% endblock %}
