{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Type of project</th>
                <td>{{ project.type }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ project.country }}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ project.createdAt ? project.createdAt|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Ended At</th>
                <td>{{ project.endedAt ? project.endedAt|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ project.amount }} €</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-outline-primary" href="{{ path('project_index') }}">back to list</a>

    <a type="button" class="btn btn-outline-primary" href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
